{% extends "base.html" %}

{% block content %}

<h2 id="about" class="page-header">About</h2>
<p>Touch DB purpose is to put touch tournaments data online. Touch DB also offer tournaments organizers a tool to
  display tournaments data online in real time.</p>

<h2 id="about-features" class="page-header">Features</h2>
<ul class="list-unstyled" >
<li>Surf online touch tournaments data: fixtures, statistics, players.</li>
<li>Search your for your favorite team or players to find out their tournament performance.</li>
<li>Add your own tournament data to the app and it will be immediately online ready.</li>
<li><strong>Contact me if you have any feature request or if you found a <a href="https://en.wikipedia.org/wiki/Software_bug">Bug</a>.</strong></li>
</ul>

<h1 id="about-who" class="page-header">Who we are?</h1>
<p>I am a <a href="http://www.touchberlin.de">touch Berlin</a> player with IT background and a passion for playing touch.</p>

<h1 id="contact" class="page-header">Contact</h1>
<script language="JavaScript">
var username = "paconte";
var hostname = "gmail.com";
var linktext = username + "@" + hostname ;
document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
</script>

{% endblock %}

