{% extends "base.html" %}

{% block content %}

<h2 id="about" class="page-header">About</h2>
<p>
    Rollball.net is an online database of <a href="https://en.wikipedia.org/wiki/Touch_%28sport%29">Touch Rugby</a>
    tournaments and players. Rollball.net also offer tournaments organizers a tool to display tournaments data online
    in real time.
</p>



<h1 id="about-who" class="page-header">Who we are?</h1>
<p>I am a touch player based in Berlin. Rollball.net is a non-profit and amateur app.</p>

<h1 id="contact" class="page-header">Contact</h1>
<script language="JavaScript">
var username = "paconte";
var hostname = "gmail.com";
var linktext = username + " @ " + hostname ;
document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
</script>

{% endblock %}

