{% extends "tournaments/index.html" %}

{% block content %}

<h2 id="about" class="page-header">About</h2>
<p>Touch DB purpose is to put touch tournaments data online. We also offer tournaments organizers a tool to
  display tournaments data online in real time.</p>

<h2 id="about-features" class="page-header">Features</h2>
<ul>
<li>Surf online touch tournaments data: fixtures, statistics, Players.</li>
<li>Search your for your favorite team or players to find out their tournament performance.</li>
<li>Add your own tournament data to the app and it will be immediately online ready.</li>

</ul>

<h2 id="about-collaborate" class="page-header">How to colaborate</h2>
<p>We are a social app and want to be social, you can collaborate with feeding us with new input data or
    any new ideas. Some examples of how you can collaborate with us:</p>
<ul>
  <li>Would you like to have your tournament online?</li>
  <li>Would you like to report wrong information?</li>
  <li>Did you find a <a href="https://en.wikipedia.org/wiki/Software_bug">Bug</a> and you would like to report it?</li>
</ul>
<p>Go to the <a href="{% url 'contact' %}">contact</a> site and get in touch with us.</p>

<h1 id="about-planned-features" class="page-header">Planned features</h1>
<ul>
<li>Tournament data for Berlin Capital Cup 2015 will be soon available.</li>
<li>Player statistic will be soon available.</li>
<li>If you want to request your own feature go to <a href="{% url 'contact' %}">contact</a> site and get in touch with us.</li>
</ul>

<h1 id="about-who" class="page-header">Who we are?</h1>
<p>I am a <a href="http://www.touchberlin.de">touch Berlin</a> player with IT background and a passion for playing touch :)</p>

{% endblock %}

