{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block css %}
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static '0755/autumn05.css' %}"/> -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'ionicons/css/ionicons.css' %}"/>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-tournament.css' %}"/>

    {% endblock %}

    <title>{% block title %}Touch tournaments{% endblock %}</title>
</head>

<body>
<!-- Fixed navbar -->
<nav class="navbar  navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tournaments
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu multilevel" role="menu">
                        {% block sidebar_tournaments %}{% endblock %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'search_team' %}">Team</a></li>
                        <li><a href="{% url 'search_person' %}">Person</a></li>
                        <li><a href="{% url 'search_tournament' %}">Tournament</a></li>
                    </ul>
                <li><a href="{% url 'add_tournament' %}">Add a tournament</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div> <!-- /container -->

<footer class="footer">
    <div class="container">
        <!--	<p class="text-muted">Place sticky footer content here.</p>
            <div class="row text-center center-block text-muted">
              <div class="col-sm-4">
                  <a href="https://www.python.org/">
                <img src="{% static '0755/images/python-powered-h-50x65.png' %}"/ style="width:65px;height:40px;"></a>
              </div>
              <div class="col-sm-4">
                <a href="https://www.djangoproject.com/">
                  <img src="{% static '0755/images/django-logo-negative.png' %}"/ style="width:65px;height:40px;"></a>
              </div>
              <div class="col-sm-4">
                <a href="https://git-scm.com/">
                  <img src="{% static '0755/images/Git-Logo-2Color.png' %}"/ style="width:65px;height:40px;"></a>
              </div>
        -->
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<!-- ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!--<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>-->
</body>
</html>
