{% extends "index.html" %}

{% block content %}

{% if statistics %}
<div class="row">
  <div class="col-xs-9 col-sm-4 col-md-6">
    <div class="jumbotron">
      <span class="text-center"><h2>{{game.local}}</h2></span>
      <span class="text-center"><h2>{{game.local_score}}</h2></span>
    </div>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
      <tr>
        <td><b>Player</b></td>
        <td><b>TD</b></td>
      </tr>
      </thead>
      <tbody>
      {% for row in local_stats %}
      <tr>
        <td>{{row.0}}</td>
        <td>{{row.1}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-xs-9 col-md-6">
    <div class="jumbotron">
      <span class="text-center"><h2>{{game.visitor}}</h2></span>
      <span class="text-center"><h2>{{game.visitor_score}}</h2></span>
    </div>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
      <tr>
        <td><b>Player</b></td>
        <td><b>TD</b></td>
      </tr>
      </thead>
      <tbody>

      {% for row in visitor_stats %}
      <tr>
        <td>{{row.0}}</td>
        <td>{{row.1}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif%}

{% endblock %}
