{% extends "index.html" %}
{% block content %}

<div class="jumbotron">
  <h1>{{ team.name }}</h1>
</div>

<div class="row">

    <div class="col-xs-9 col-sm-4 col-md-6">
        <div class="page-header">
            <h1>Tournaments</h1>
        </div>
        <table class="table-condensed">
  <thead>
    <tbody>
      {% for element in played_tournaments %}
      <tr>
          <td class="col-sm-2">
              <a href="{% url 'detail_team_tournament' element.id team.id %}">{{element.name}}</a>
          </td>
      </tr>	  
      {% endfor %}
    </tbody>
  </thead>
</table>
    </div>

    <div class="col-xs-9 col-sm-4 col-md-6">
        <div class="page-header">
            <h1>Players</h1>
        </div>
        <table class="table-condensed">
            <thead>
            <tbody>
                {% for element in team.players.all %}
                <tr>
                    {% if element.gender == "F" %}
                    <td class="col-sm-2 ion-woman"/>
                    {% elif element.gender == "M" %}
                    <td class="col-sm-2 ion-man"/>
                    {% endif%}
                    <td class="col-sm-10">
                        <a href="{% url 'detail_person' element.id %}">{{element.first_name}} {{element.last_name}}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </thead>
        </table>
    </div>

    <div class="page-header">
        <h1>Games</h1>
    </div>

    <table class="table-condensed">
        <thead>
        <tbody>
        {% for game in games %}
        <tr>
          <td class="col-sm-3"><a href="{% url 'detail_team_tournament' game.tournament.id team.id %}">{{game.tournament.name}}</a></td>
          <td class="col-sm-3"><a href="{% url 'detail_team_tournament' game.tournament.id game.local.id %}">{{game.local.name}}</a></td>
          <td class="col-sm-0 success text-center">{{game.local_score}}</td>
          <td class="text-center">v</td>
          <td class="success text-center">{{game.visitor_score}}</td>
          <td class="col-sm-3 text-right"><a href="{% url 'detail_team_tournament' game.tournament.id game.visitor.id %}">{{game.visitor.name}}</a></td>
          <td class="text-center"><a class="ion-android-add-circle" href="{% url 'detail_game' game.id %}"/></td>
        </tr>
        {% endfor %}
        </tbody>
        </thead>
    </table>

</div>


{% endblock %}
