{% extends "index.html" %}
{% block content %}

<div class="jumbotron">
    <h1>{{ person.first_name }} {{ person.last_name }}</h1>
</div>

<div class="page-header">
    <h1>Tournaments</h1>
</div>

<table class="table-condensed">
    <thead>
    <tbody>
    {% for tournament, teams in tournament_team_dict.items %}
    {% for team in teams %}
    <tr>
        <td class="col-sm-6">
            <a href="{% url 'detail_team_tournament' tournament.id team.id %}">{{tournament.name}}</a>
        </td>
        <td class="col-sm-1">-</td>
        <td class="col-sm-5">
            <a href="{% url 'detail_team' team.id %}">{{team.name}}</a>
        </td>
    </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
    </thead>
</table>

<div class="page-header">
    <h1>Games</h1>
</div>

<table class="table-condensed">
    <thead>
    <tbody>
    {% for game in games %}
    <tr>
        <td class="col-sm-3"><a href="{% url 'detail_tournament' game.tournament.id %}">{{game.tournament.name}}</a></td>
        <td class="col-sm-3"><a href="{% url 'detail_team_tournament' game.tournament.id game.local.id %}">{{game.local.name}}</a></td>
        <td class="col-sm-0 success text-center">{{game.local_score}}</td>
        <td class="text-center">v</td>
        <td class="success text-center">{{game.visitor_score}}</td>
        <td class="col-sm-3 text-right"><a href="{% url 'detail_team_tournament' game.tournament.id game.visitor.id %}">{{game.visitor.name}}</a></td>
        <td class="text-center"><a class="ion-android-add-circle" href="{% url 'detail_game' game.id %}"/></td>
    </tr>
    {% endfor %}
    </tbody>
    </thead>
</table>

{% endblock %}
