{% extends "index.html" %}

{% block content %}

<script>
    function arrowChange () {
        var arrow = this.getAttribute('class');
        if (arrow == 'ion-arrow-down-b'){
            this.setAttribute('class', 'ion-arrow-left-b');
        } else {
            this.setAttribute('class', 'ion-arrow-down-b');
        }
    }
</script>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>{{tournament.name}}</h1><h2>{{division}}</h2>
</div>

<div class="page-header">
    <h1>Teams
        <a class="ion-arrow-down-b" role="button" data-toggle="collapse" href="#teams-collapse" aria-expanded="false"
           aria-controls="teams-collapse" onclick="arrowChange.call(this)">
        </a>
    </h1>
</div>

<div class="collapse in jumbotron" id="teams-collapse">
    <table class="table-condensed">
        <tbody>
        {% for row in teams_matrix %}
        <tr>
            {% for team in row %}
            <td class="col-sm-2"><a href="{% url 'detail_team_tournament' tournament.id team.id %}">{{team.name}}</a></td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if liga_games %}
<div class="page-header">
  <h1>Liga Stage
	   <a class="ion-arrow-down-b" role="button" data-toggle="collapse" href="#liga-collapse" aria-expanded="false"
           aria-controls="liga-collapse" onclick="arrowChange.call(this)">
      </a>
  </h1>
</div>

<div class="collapse in" id="liga-collapse">
{% for key, list in liga_games.items %}
<div class="jumbotron">
<div class="row">
  <div class="col-md-4">
    <table class="table table-striped table-condensed">
      <thead>
	<tr class="success">
	  <th>{{key}}</th>
	  <th>P</th>
	  <th>W</th>
	  <th>L</th>
	  <th>D</th>
	  <th>+</th>
	  <th>-</th>
	  <th>+/-</th>
	  <th>Pts</th>
	</tr>
	<tbody>
	  {% for value in list %}
	  <tr>
	    <td><a href="{% url 'detail_team_tournament' tournament.id value.team.id %}">{{value.team.name}}</a></td>
	    <td>{{value.played}}</td>
	    <td>{{value.won}}</td>
	    <td>{{value.lost}}</td>
	    <td>{{value.drawn}}</td>
	    <td>{{value.plus}}</td>
	    <td>{{value.minus}}</td>
	    <td>{{value.plus_minus}}</td>
	    <td>{{value.points}}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </thead>
    </table>
  </div>

  <div class="col-md-8">
    <table class="table table-striped table-condensed table-bordered">
      <thead>
	<tr class="success">
	  <th colspan="8">{{key}} - Games</th>
	</tr>
	<tbody>
	  {% if games %}
	    {% for game in games %}
              {% if game.phase.round == key %}
	        <tr>
		  {% if game.time %}<td class="text-center">{{game.time|date:"H:i"}}</td>{% endif %}
		  {% if game.field %}<td class="col-sm-2 text-center">{{game.field}}</td>{% endif %}
		  <td class="col-sm-5"><a href="{% url 'detail_team_tournament' tournament.id game.local.id %}">{{game.local.name}}</a></td>
		  <td class="success text-center">{{game.local_score}}</td>
		  <td class="text-center">v</td>
		  <td class="success text-center">{{game.visitor_score}}</td>
		  <td class="col-sm-5 text-right"><a href="{% url 'detail_team_tournament' tournament.id game.visitor.id %}">{{game.visitor.name}}</a></td>
		  <td class="text-center"><a class="ion-android-add-circle" href="{% url 'detail_game' game.id %}"/></td>
		</tr>
              {% endif %}
	    {% endfor %}
	  {% else %}
	  <td>No games are available.</td>
	  {% endif %}
	</tbody>
      </thead>
    </table>
  </div>
</div>
</div>
{% endfor %}
</div>
{% endif %}

{% if pool_games %}
<div class="page-header">
  <h1>Pool Stage
      <a class="ion-arrow-down-b" role="button" data-toggle="collapse" href="#pools-collapse" aria-expanded="false"
           aria-controls="pools-collapse" onclick="arrowChange.call(this)">
      </a>
  </h1>
</div>

<div class="collapse in" id="pools-collapse">
{% for key, list in pool_games.items %}
<div class="jumbotron">
<div class="row">
  <div class="col-md-4">
    <table class="table table-striped table-condensed">
      <thead>
	<tr class="success">
	  <th>{{key}}</th>
	  <th>P</th>
	  <th>W</th>
	  <th>L</th>
	  <th>D</th>
	  <th>+</th>
	  <th>-</th>
	  <th>+/-</th>
	  <th>Pts</th>
	</tr>
	<tbody>
	  {% for value in list %}
	  <tr>
	    <td><a href="{% url 'detail_team_tournament' tournament.id value.team.id %}">{{value.team.name}}</a></td>
	    <td>{{value.played}}</td>
	    <td>{{value.won}}</td>
	    <td>{{value.lost}}</td>
	    <td>{{value.drawn}}</td>
	    <td>{{value.plus}}</td>
	    <td>{{value.minus}}</td>
	    <td>{{value.plus_minus}}</td>
	    <td>{{value.points}}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </thead>
    </table>
  </div>

  <div class="col-md-8">
    <table class="table table-striped table-condensed table-bordered">
      <thead>
	<tr class="success">
	  <th colspan="8">{{key}} - Games</th>
	</tr>
	<tbody>
	  {% if games %}
	    {% for game in games %}
              {% if game.phase.round == key %}
	        <tr>
		  {% if game.time %}<td class="text-center">{{game.time|date:"H:i"}}</td>{% endif %}
		  {% if game.field %}<td class="col-sm-2 text-center">{{game.field}}</td>{% endif %}
		  <td class="col-sm-5"><a href="{% url 'detail_team_tournament' tournament.id game.local.id %}">{{game.local.name}}</a></td>
		  <td class="success text-center">{{game.local_score}}</td>
		  <td class="text-center">v</td>
		  <td class="success text-center">{{game.visitor_score}}</td>
		  <td class="col-sm-5 text-right"><a href="{% url 'detail_team_tournament' tournament.id game.visitor.id %}">{{game.visitor.name}}</a></td>
		  <td class="text-center"><a class="ion-android-add-circle" href="{% url 'detail_game' game.id %}"/></td>
		</tr>
              {% endif %}
	    {% endfor %}
	  {% else %}
	  <td>No games are available.</td>
	  {% endif %}
	</tbody>
      </thead>
    </table>
  </div>
</div>
</div>
{% endfor %}
</div>
{% endif %}

{% if division_games.items %}
<div class="page-header">
  <h1>Divisions
       <a class="ion-arrow-down-b" role="button" data-toggle="collapse" href="#divisions-collapse" aria-expanded="false"
           aria-controls="divisions-collapse" onclick="arrowChange.call(this)">
      </a>
  </h1>
</div>


{% for key1, values1 in division_games.items %}
<div class="collapse in" id="divisions-collapse">
<div class="jumbotron">
<div class="row">
{% for key2, values2 in values1.items %}
	<div class="col-md-4">
		<table class="table table-striped table-condensed">
			<thead>
			{% if key1.category == "Gold" %}
			<tr class="success">
			{% elif key1.category == "Silver" %}
			<tr class="info">
			{% elif key1.category == "Bronze" %}
			<tr class="warning">
			{% elif key1.category == "Wood" %}
			<tr class="danger">
			{% else %}
			<tr class="success">
			{% endif %}
				<th>{{key1}}</th>
				<th>P</th>
				<th>W</th>
				<th>L</th>
				<th>D</th>
				<th>+</th>
				<th>-</th>
				<th>+/-</th>
				<th>Pts</th>
			</tr>
			<tbody>
			{% for value in values2 %}
			<tr>
				<td><a href="{% url 'detail_team_tournament' tournament.id value.team.id %}">{{value.team.name}}</a></td>
				<td>{{value.played}}</td>
				<td>{{value.won}}</td>
				<td>{{value.lost}}</td>
				<td>{{value.drawn}}</td>
				<td>{{value.plus}}</td>
				<td>{{value.minus}}</td>
				<td>{{value.plus_minus}}</td>
				<td>{{value.points}}</td>
			</tr>
			{% endfor %}
			</tbody>
			</thead>
		</table>
	</div>
	<div class="col-md-8">
		<table class="table table-striped table-condensed table-bordered">
			<thead>
			{% if key1.category == "Gold" %}
			<tr class="success">
			{% elif key1.category == "Silver" %}
			<tr class="info">
			{% elif key1.category == "Bronze" %}
			<tr class="warning">
			{% elif key1.category == "Wood" %}
			<tr class="danger">
			{% else %}
			<tr class="success">
			{% endif %}
				<th colspan="8">{{key1}} - Games</th>
			</tr>
			<tbody>
			{% if games %}
			{% for game in games %}
			{% if game.phase == key1 %}
			<tr>
				{% if game.time %}
				<td class="text-center">{{game.time|date:"H:i"}}</td>
				{% endif %}
				{% if game.field %}
				<td class="col-sm-2 text-center">{{game.field}}</td>
				{% endif %}
				<td class="col-sm-5"><a href="{% url 'detail_team_tournament' tournament.id game.local.id %}">{{game.local.name}}</a></td>
				{% if key1.category == "Gold" %}
				<td class="success text-center">{{game.local_score}}</td>
				{% elif key1.category == "Silver" %}
				<td class="info text-center">{{game.local_score}}</td>
				{% elif key1.category == "Bronze" %}
				<td class="warning text-center">{{game.local_score}}</td>
				{% elif key1.category == "Wood" %}
				<td class="danger text-center">{{game.local_score}}</td>
				{% else %}
				<td class="success text-center">{{game.local_score}}</td>
				{% endif %}
				<td class="text-center">v</td>
				{% if key1.category == "Gold" %}
				<td class="success text-center">{{game.visitor_score}}</td>
				{% elif key1.category == "Silver" %}
				<td class="info text-center">{{game.visitor_score}}</td>
				{% elif key1.category == "Bronze" %}
				<td class="warning text-center">{{game.visitor_score}}</td>
				{% elif key1.category == "Wood" %}
				<td class="danger text-center">{{game.visitor_score}}</td>
				{% else %}
				<td class="success text-center">{{game.visitor_score}}</td>
				{% endif %}
				<td class="col-sm-5 text-right"><a href="{% url 'detail_team_tournament' tournament.id game.visitor.id %}">{{game.visitor.name}}</a></td>
				<td class="text-center"><a class="ion-android-add-circle" href="{% url 'detail_game' game.id %}"/></td>
			</tr>
			{% endif %}
			{% endfor %}
			{% else %}
			<td>No games are available.</td>
			{% endif %}
			</tbody>
			</thead>
		</table>
	</div>


{% endfor %}
</div>
</div>
{% endfor %}
</div>
{% endif %}

{% if phased_finals_games.items %}
<div class="page-header">
  <h1>Finals
      <a class="ion-arrow-down-b" role="button" data-toggle="collapse" href="#finals-collapse" aria-expanded="false"
           aria-controls="finals-collapse" onclick="arrowChange.call(this)">
      </a>
  </h1>
</div>

<div class="collapse in" id="finals-collapse">
{% for key1, values1 in phased_finals_games.items %}
<div class="jumbotron">
{% for key2, values2 in values1.items %}
  <table class="table table-condensed table-bordered">
    <thead>
      <tr>
	{% if key1 == "Gold" %}
	<th colspan="8" class="success">{{key2}}</th>
	{% elif key1 == "Silver" %}
	<th colspan="8" class="info">{{key2}}</th>
	{% elif key1 == "Bronze" %}
	<th colspan="8" class="warning">{{key2}}</th>
	{% elif key1 == "Wood" %}
	<th colspan="8" class="danger">{{key2}}</th>
	{% else %}
	<th colspan="8" class="success">{{key2}}</th>
	{% endif %}
      </tr>
      <tbody>
	{% for key3, values3 in values2.items %}
	  <tr>
	    {% if values3.time %}<td class="col-sm-1 text-center">{{values3.time|date:"H:i"}}</td>{% endif %}
	    {% if values3.field %}<td class="col-sm-1 text-center">{{values3.field}}</td>{% endif %}
	    <td class="col-sm-3"><a href="{% url 'detail_team_tournament' tournament.id values3.local.id %}">{{values3.local.name}}</a></td>
	    {% if key1 == "Gold" %}
	    <td class="success text-center">{{values3.local_score}}</td>
	    {% elif key1 == "Silver" %}
	    <td class="info text-center">{{values3.local_score}}</td>
	    {% elif key1 == "Bronze" %}
	    <td class="warning text-center">{{values3.local_score}}</td>
	    {% elif key1 == "Wood" %}
	    <td class="danger text-center">{{values3.local_score}}</td>
	    {% endif %}
	    <td class="text-center">v</td>
	    {% if key1 == "Gold" %}
	    <td class="success text-center">{{values3.visitor_score}}</td>
	    {% elif key1 == "Silver" %}
	    <td class="info text-center">{{values3.visitor_score}}</td>
	    {% elif key1 == "Bronze" %}
	    <td class="warning text-center">{{values3.visitor_score}}</td>
	    {% elif key1 == "Wood" %}
	    <td class="danger text-center">{{values3.visitor_score}}</td>
	    {% endif %}
	    <td class="col-sm-3 text-right"><a href="{% url 'detail_team_tournament' tournament.id values3.visitor.id %}">{{values3.visitor.name}}</a></td>
	    <td class="text-center col-sm-1"><a class="ion-android-add-circle" href="{% url 'detail_game' values3.id %}"/></td>
	  </tr>
	{% endfor %}
      </tbody>
    </thead>
  </table>
{% endfor %}
</div>
{% endfor %}
</div>
{% endif %}

{% endblock %}
