{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Padel Sport Website">
  <meta name="author" content="Francisco Javier Revilla Linares">
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
  <link media="all" rel="stylesheet" type="text/css" href="https://stillres.olympic.org/css/modules.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/olimpic.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/olimpic-pade.css' %}"/>
</head>

<body>
  <div id="wrapper">
    <header id="header">
      <div class="holder">
        <div class="section">
          <a href="#" class="nav-opener icon-menu"><span class="hide">Menu</span></a>
          <div class="logo">
	    
            <a href="/">
              <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="img/Logo01.png" media="(min-width: 1024px)">
                  <source srcset="img/Logo01.png" media="(min-width: 768px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img src="img/Logo01.png" alt="International Olympic Committee" class="logo01" srcset="img/Logo01.png">
              </picture>
            </a>
          </div>
        </div>
        <nav class="nav-box">
          <div class="nav-inner">
            <div class="nav-center">
              <div class="nav-holder">
                <div class="nav-frame">
                  <ul id="nav">
                    <li>
                      <a href="/federations">Federations</a>
		      <div class="drop">
			<div class="drop-holder filters-area" data-cols="5" data-rows="5">
			  <div class="filters-box">
			    <ul class="filters">
			      <li><a href="#" data-filter="africa">Africa</a></li>
			      <li><a href="#" data-filter="asia">Asia</a></li>
			      <li><a href="#" data-filter="europa">Europa</a></li>
			      <li><a href="#" data-filter="northamerica">North-America</a></li>
			      <li><a href="#" data-filter="oceania">Oceania</a></li>
			      <li><a href="#" data-filter="southamerica">South-America</a></li>
			      <li><a href="/federations" data-filter="all">All</a></li>
			    </ul>
			  </div>
			  <div class="filters-gallery">
			    <div class="filters-holder"></div>
			    <div class="btns">
			      <a href="#" class="btn-prev">
				<span class="icon-arrow-left">
				  <span class="hide">prev</span>
				</span>
			      </a>
			      <a href="#" class="btn-next">
				<span class="icon-arrow-right">
				  <span class="hide">next</span>
				</span>
			      </a> 
			    </div>
			  </div>
			</div>
		    </div>
                    </li>
		    <li>
		      <a href="/clubs">Clubs</a>
		      <div class="drop">
			<div class="drop-holder">
			  <div class="drop-col">
			  </div>
			</div>
		      </div>
		    </li>
                    <li>
 		      <a href="/tournaments">Tournaments</a>
		      <div class="drop">
			<div class="drop-holder">
			  <div class="drop-col">
			  </div>
			</div>
		      </div>
                    </li>
                    <li>
                      <a href="/rankings">Rankings</a>
                      <div class="drop">
			<div class="drop-holder">
			  <div class="drop-col">
			  </div>
			</div>
		      </div>
                    </li>
                    <li>
                      <a href="/players">Players</a>
                      <div class="drop">
			<div class="drop-holder">
			  <div class="drop-col">
			  </div>
			</div>
		      </div>
                    </li>
                    <li>
                      <a href="">Videos</a>
		      <div class="drop ">
			<div class="drop-holder">
			  <div class="drop-col"> <strong class="title">Padel Federations</strong>
			    <div class="links-row">
			      <ul>
			      </ul>
			      <ul>
			      </ul>
			    </div>
			  </div>
			  <div class="drop-col ocmenu">
			    <a href="https://www.olympicchannel.com" target="_blank" class="title"><img src="img/WPT.png" alt="The Olympic Channel" width="200" height="100" /></a>
			    <div class="links-row">
			      <p style="font-weight: normal; text-transform: none; font-size: 1.2em; line-height: 1.45em;">
				The new Olympic Channel brings you news, highlights, exclusive behind the scenes, live events and original programming, 24 hours a day, 365 days per year.
			      </p>
			      <a class="cta-link" href="https://www.olympicchannel.com" target="_blank">Watch the Olympic Channel Now <em class="icon-arrow-right">
				  <span class="hide">arrow right</span></em>
			      </a>
			    </div>                                            
		    </li>
                    <li>
                      <a href="">-</a>
                    </li>
		    <li>
<a href="/news">News</a>
<div class="drop alt2">
<div class="drop-holder">
<div class="drop-col">
<strong class="title"><a href="/the-ioc/what-we-do"></a>International</strong>
<div class="links-row">
<ul style="width: auto;">
</ul>
<ul style="width: auto;">
</ul>
</div>
</div>
<div class="drop-col">
<strong class="title">Rankings</strong>
<div class="links-row">
<ul style="width: auto;">
</ul>
</div>
</div>
<div class="drop-col">
<strong class="title">Information for the Media</strong>
<div class="links-row">
<ul>
</ul>
</div>
</div>
</div>
</div>                                            </li>
                                           
                                                                                       <li>
                                                <a href="/partners">Partners</a>
                                            </li>

                                           
                                            <li>
                                                <a href="/the-ioc">About</a>
<div class="drop alt2">
<div class="drop-holder">
<div class="drop-col">
<strong class="title"><a href="/the-ioc/what-we-do">What we do</a></strong>
<div class="links-row">
<ul style="width: auto;">
    <li><a href="/the-ioc/celebrate-olympic-games" style="color: #959595;">Celebrate<br />
    Olympic Games</a></li>
    <li><a href="/host-city-election">From Candidate<br />
    to Host City</a></li>
    <li><a href="/sustainability">Sustainability</a></li>
    <li><a href="/olympic-legacy">Legacy</a></li>
</ul>
<ul style="width: auto;">
    <li><a href="/the-ioc/promote-olympism" style="color: #959595;">Promote<br />
    Olympism in Society</a></li>
    <li><a href="/sport-and-active-society">Sport and Active Society</a></li>
    <li><a href="/women-in-sport">Women in sport</a></li>
    <li><a href="/olympic-values-and-education-program">Education</a></li>
    <li><a href="/development-through-sport">Social Development</a></li>
    <li><a href="/sport-for-hope">Sport for Hope</a></li>
    <li><a href="/peace-through-sport">Peace through sport</a></li>
    <li><a href="/cooperation-with-the-un">Cooperation United Nations</a></li>
    <li><a href="/olympic-studies-centre">Olympic Studies Centre</a></li>
    <li><a href="/olympic-day">Olympic Day</a></li>
</ul>
<ul style="width: auto;">
    <li><a href="/the-ioc/leading-the-olympic-movement" style="color: #959595;">Leading<br />
    the Olympic Movement</a></li>
    <li><a href="/olympic-agenda-2020">Olympic Agenda 2020</a></li>
    <li><a href="/good-governance">Good Governance</a></li>
    <li><a href="/ethics">Ethics</a></li>
    <li><a href="/sporting-regulations">Sporting regulations</a></li>
    <li><a href="/ioc-governance-national-olympic-committees">National Olympic<br />
    Committees</a></li>
    <li><a href="/ioc-governance-international-sports-federations">International<br />
    Federations</a></li>
    <li><a href="/ioc-governance-organising-committees">Organising Committees<br />
    for the Olympic Games</a></li>
    <li><a href="/ioc-governance-affiliate-organisations">Recognised<br />
    organisations</a></li>
</ul>
<ul style="width: auto;">
    <li><a href="/the-ioc/support-and-protect-clean-athletes" style="color: #959595;">Support and protect<br />
    clean athletes</a></li>
    <li><a href="/olympic-solidarity">Olympic Solidarity</a></li>
    <li><a href="/athlete-career-programme">Career Programme</a></li>
    <li><a href="/athletes-space">Athletes' Space</a></li>
    <li><a href="/fight-against-doping">Fight against doping</a></li>
    <li><a href="/playfair">Prevention of <br />
    competition manipulation</a></li>
    <li><a href="/hbi">Healthy Body Image</a></li>
    <li><a href="/sha">Harrassement<br />
    and Abuse in Sport</a></li>
</ul>
</div>
</div>
<div class="drop-col">
<strong class="title"><a href="/about-ioc-institution">Who we are</a></strong>
<div class="links-row">
<ul style="width: auto;">
    <li><a href="/about-ioc-institution">The organisation</a></li>
    <li><a href="/about-ioc-institution#President">President</a></li>
    <li><a href="/ioc-members-list">Members</a></li>
    <li><a href="/athletes-commission">Commissions</a></li>
    <li><a href="/129th-ioc-session">Sessions</a></li>
    <li><a href="/olympic-congress">Congresses</a></li>
</ul>
</div>
</div>
<div class="drop-col">
<strong class="title"><a href="/ioc-financing-revenue-sources-distribution">How we do it</a></strong>
<div class="links-row">
<ul style="width: auto;">
    <li><a href="/ioc-financing-revenue-sources-distribution">Funding</a></li>
    <li><a href="/sponsors">Partners</a></li>
    <li><a href="/broadcasters">Broadcasters</a></li>
    <li><a href="/ticketing">Ticketing</a></li>
    <li><a href="/licensing">Licensing</a></li>
    <li><a href="/suppliers">Suppliers</a></li>
</ul>
</div>
</div>
</div>
</div>                                            </li>
                                            <li>
                                                <a href="http://shop.olympic.org">Shop</a>
                                            </li>
                                </ul>

                                <div class="add-top-section">
                                    <div class="hold lang-switcher-container">
                                        <ul class="social-links">
                                                            <li><a href="https://twitter.com/padelanalytics" class="ss-icon">twitter</a></li>
                                                            <li><a href="https://www.youtube.com/user/padelanalytics" class="ss-icon">youtube</a></li>
                                                            <li>
                                                                <a href="#popup2" class="lightbox-link alt">
                                                                    <span class="sss-icon">
                                                                        redirect
                                                                    </span> Share
                                                                </a>
                                                            </li>
                                                            <li><a href="https://www.facebook.com/padelanalytics" class="ss-icon">facebook</a></li>
                                                            <li><a href="https://plus.google.com/+padelanalytics" class="ss-icon">googleplus</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="opener icon-search"><span class="hide">search</span></a>
                        <div class="slide">
                            <div class="slide-holder">
                                <form action="/search" class="search-form">
                                    <fieldset>
                                        <legend class="hide">search-form</legend>
                                        <div class="area">
                                            <input type="search" name="q" placeholder="search countries, federatios, clubs, tournaments, players..." title="text" />
                                        </div>
                                        <input type="submit" value="Go" />
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>



</bod>
