{% extends "tournaments/index.html" %}

{% block content %}

<h1 id="about" class="page-header">About</h1>
<p class="lead">Touch DB (currently beta v0.1) is an attempt to put touch tournaments information online.</p>

<h1 id="about-features" class="page-header">Features</h1>
<p>Touch DB currenlty features are tournament data in html format which can be navigate, clicking in the different links to see games, teams and player information.</p>

<h1 id="about-planned-features" class="page-header">Planned features</h1>
<p>Players and team search is soon available.</p>

<h1 id="about-available-tournaments" class="page-header">Available tournaments</h1>
<p>Berlin Capital Cup 2014 and NTS 2014 are already available. Upcoming Capital Cup 2015.</p>

<h1 id="about-collaborate" class="page-header">How to colaborate</h1>
<p class="lead">We are a social app and want to be social, you can collaborate with feeding us with new input data or any new ideas. Some examples of how you can collaborate with us:</p>
<ul>
  <li>Would you like to have your tournament online?</li>
  <li>Would you like to report wrong information?</li>
  <li>Did you find a <a href="https://en.wikipedia.org/wiki/Software_bug">Bug</a> and you would like to report it?</li>
</ul>
<p>Go to the <a href="{% url 'contact' %}">contact</a> site and get in touch with us.</p>

<h1 id="about-who" class="page-header">Who we are?</h1>
<p>We are a bunch of <a href="http://www.touchberlin.de">touch Berlin</a> players with IT background and a passion for playing touch :)</p>

{% endblock %}

