{% extends "tournaments/index.html" %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>{{tournament.name}}</h1><h2>{{division}}</h2>
</div>

<div class="page-header">
  <h1>Teams</h1>
</div>
    <table class="table-condensed">
      <thead>
	<tbody>
	  {% for row in teams_matrix %}
	  <tr>
	    {% for team in row %}
	    <td class="col-sm-2"><a href="{% url 'detail_team_tournament' tournament.id team.id %}">{{team.name}}</a></td>
	    {% endfor %}
	  </tr>	  
	  {% endfor %}
	</tbody>
      </thead>
    </table>

{% if pool_games %}
<div class="page-header">
  <h1>Pool Stage</h1>
</div>

{% for key, list in pool_games.items %}
<div class="jumbotron">
<div class="row">
  <div class="col-md-4">
    <table class="table table-striped table-condensed">
      <thead>
	<tr class="success">
	  <th>{{key}}</th>
	  <th>P</th>
	  <th>W</th>
	  <th>L</th>
	  <th>D</th>
	  <th>+</th>
	  <th>-</th>
	  <th>+/-</th>
	  <th>Pts</th>
	</tr>
	<tbody>
	  {% for value in list %}
	  <tr>
	    <td>{{value.team}}</td>
	    <td>{{value.played}}</td>
	    <td>{{value.won}}</td>
	    <td>{{value.lost}}</td>
	    <td>{{value.drawn}}</td>
	    <td>{{value.plus}}</td>
	    <td>{{value.minus}}</td>
	    <td>{{value.plus_minus}}</td>
	    <td>{{value.points}}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </thead>
    </table>
  </div>

  <div class="col-md-8">
    <table class="table table-striped table-condensed table-bordered">
      <thead>
	<tr class="success">
	  <th colspan="8">{{key}} - Games</th>
	</tr>
	<tbody>
	  {% if games %}
	    {% for game in games %}
              {% if game.phase.round == key %}
	        <tr>
		  {% if game.time %}<td class="text-center">{{game.time|date:"H:i"}}</td>{% endif %}
		  {% if game.field %}<td class="col-sm-2 text-center">{{game.field}}</td>{% endif %}
		  <td class="col-sm-5">{{game.local}}</td>
		  <td class="success text-center">{{game.local_score}}</td>
		  <td class="text-center">v</td>
		  <td class="success text-center">{{game.visitor_score}}</td>
		  <td class="col-sm-5 text-right">{{game.visitor}}</td>
		  <td class="text-center"><a href="{% url 'detail_game' game.id %}">link</a></td>
		</tr>
              {% endif %}
	    {% endfor %}
	  {% else %}
	  <td>No games are available.</td>
	  {% endif %}
	</tbody>
      </thead>
    </table>
  </div>
</div>
</div>
{% endfor %}
{% endif %}

{% if division_games.items %}
<div class="page-header">
  <h1>Divisions</h1>
</div>


{% for key1, values1 in division_games.items %}
<div class="jumbotron">
<div class="row">
{% for key2, values2 in values1.items %}
	<div class="col-md-4">
		<table class="table table-striped table-condensed">
			<thead>
			<tr class="success">
				<th>{{key1}}</th>
				<th>P</th>
				<th>W</th>
				<th>L</th>
				<th>D</th>
				<th>+</th>
				<th>-</th>
				<th>+/-</th>
				<th>Pts</th>
			</tr>
			<tbody>
			{% for value in values2 %}
			<tr>
				<td>{{value.team}}</td>
				<td>{{value.played}}</td>
				<td>{{value.won}}</td>
				<td>{{value.lost}}</td>
				<td>{{value.drawn}}</td>
				<td>{{value.plus}}</td>
				<td>{{value.minus}}</td>
				<td>{{value.plus_minus}}</td>
				<td>{{value.points}}</td>
			</tr>
			{% endfor %}
			</tbody>
			</thead>
		</table>
	</div>
	<div class="col-md-8">
		<table class="table table-striped table-condensed table-bordered">
			<thead>
			<tr class="success">
				<th colspan="8">{{key1}} - Games</th>
			</tr>
			<tbody>
			{% if games %}
			{% for game in games %}
			{% if game.phase == key1 %}
			<tr>
				{% if game.time %}
				<td class="text-center">{{game.time|date:"H:i"}}</td>
				{% endif %}
				{% if game.field %}
				<td class="col-sm-2 text-center">{{game.field}}</td>
				{% endif %}
				<td class="col-sm-5">{{game.local}}</td>
				<td class="success text-center">{{game.local_score}}</td>
				<td class="text-center">v</td>
				<td class="success text-center">{{game.visitor_score}}</td>
				<td class="col-sm-5 text-right">{{game.visitor}}</td>
				<td class="text-center"><a href="{% url 'detail_game' game.id %}">link</a></td>
			</tr>
			{% endif %}
			{% endfor %}
			{% else %}
			<td>No games are available.</td>
			{% endif %}
			</tbody>
			</thead>
		</table>
	</div>


{% endfor %}
</div>
</div>
{% endfor %}
{% endif %}

{% if phased_finals_games.items %}
<div class="page-header">
  <h1>Finals</h1>
</div>

{% for key1, values1 in phased_finals_games.items %}
<div class="jumbotron">
{% for key2, values2 in values1.items %}
  <table class="table table-condensed table-bordered">
    <thead>
      <tr>
	{% if key1 == "Gold" %}
	<th colspan="8" class="gold">{{key2}}</th>
	{% elif key1 == "Silver" %}
	<th colspan="8" class="silver">{{key2}}</th>
	{% elif key1 == "Bronze" %}
	<th colspan="8" class="bronze">{{key2}}</th>
	{% elif key1 == "Wood" %}
	<th colspan="8" class="wood">{{key2}}</th>
	{% else %}
	<th colspan="8" class="success">{{key2}}</th>
	{% endif %}
      </tr>
      <tbody>
	{% for key3, values3 in values2.items %}
	  <tr>
	    {% if values3.time %}<td class="col-sm-1 text-center">{{values3.time|date:"H:i"}}</td>{% endif %}
	    {% if values3.field %}<td class="col-sm-1 text-center">{{values3.field}}</td>{% endif %}
	    <td class="col-sm-3">{{values3.local}}</td>
	    {% if key1 == "Gold" %}
	    <td class="gold text-center">{{values3.local_score}}</td>
	    {% elif key1 == "Silver" %}
	    <td class="silver text-center">{{values3.local_score}}</td>
	    {% elif key1 == "Bronze" %}
	    <td class="bronze text-center">{{values3.local_score}}</td>
	    {% elif key1 == "Wood" %}
	    <td class="wood text-center">{{values3.local_score}}</td>	    
	    {% endif %}
	    <td class="text-center">v</td>
	    {% if key1 == "Gold" %}
	    <td class="gold text-center">{{values3.visitor_score}}</td>
	    {% elif key1 == "Silver" %}
	    <td class="silver text-center">{{values3.visitor_score}}</td>
	    {% elif key1 == "Bronze" %}
	    <td class="bronze text-center">{{values3.visitor_score}}</td>
	    {% elif key1 == "Wood" %}
	    <td class="wood text-center">{{values3.visitor_score}}</td>
	    {% endif %}
	    <td class="col-sm-3 text-right">{{values3.visitor}}</td>
	    <td class="text-center col-sm-1"><a href="{% url 'detail_game' values3.id %}">link</a></td>
	  </tr>
	{% endfor %}
      </tbody>
    </thead>
  </table>
{% endfor %}
</div>
{% endfor %}

{% endif %}

{% endblock %}
