{% extends "tournaments/index.html" %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>{{ tournament.name }}</h1>
</div>

<div class="page-header">
  <h1>Teams</h1>
</div>

<ul>
  {% for team in tournament.teams.all %}
    <li><a href="{% url 'detail_team' tournament.id team.id %}">{{ team.name }}</a></li>
  {% endfor %}
</ul>

{% if sorted_pools %}
<div class="page-header">
  <h1>Pool Stage</h1>
</div>

{% for key, list in sorted_pools.items %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>{{key}}</th>
      <th>P</th>
      <th>W</th>
      <th>L</th>
      <th>D</th>
      <th>+</th>
      <th>-</th>
      <th>+/-</th>
      <th>Pts</th>
    </tr>
    <tbody>
      {% for value in list %}
      <tr>
	<td>{{value.team}}</td>
	<td>{{value.played}}</td>
	<td>{{value.won}}</td>
	<td>{{value.lost}}</td>
	<td>{{value.drawn}}</td>
	<td>{{value.plus}}</td>
	<td>{{value.minus}}</td>
	<td>{{value.plus_minus}}</td>
	<td>{{value.points}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </thead>
</table>
{% endfor %}     

{% endif %}

<div class="page-header">
  <h1>Games</h1>
</div>

{% if games %}
<ul>
  {% for game in games %}
    <li>{{game}}</li>
    {{game.phase}}  
  {% endfor %}  
</ul>
{% else %}
<p>No games are available.</p>
{% endif %}


{% if playoffs_games %}
<div class="rule">
  <h1>Finals</h1>  
</div>
<ul>
  {% for game in playoffs_games %}
    <li>{{game}}</li>
    {{game.phase}}  
  {% endfor %}  
</ul>
{% endif %}

{% endblock %}


