{% extends "tournaments/index.html" %}

{% block content %}

{% if statistics %}
<div class="row">
  <div class="col-xs-9 col-sm-4 col-md-6">
    <div class="jumbotron">
      <span class="text-center"><h2>{{game.local}}</h2></span>
      <span class="text-center"><h2>{{game.local_score}}</h2></span>
    </div>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
      <tr>
        <td><b>#</b></td>
        <td><b>Player</b></td>
        <td><b>TD</b></td>
      </tr>
      </thead>
      <tbody>
      {% for row in statistics %}
      {% if row.1 %}
      <tr>
        <td>{{row.0}}</td>
        <td>{{row.1.get_full_name}}</td>
        <td>{{row.2}}</td>
      </tr>
      {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-xs-9 col-md-6">
    <div class="jumbotron">
      <span class="text-center"><h2>{{game.visitor}}</h2></span>
      <span class="text-center"><h2>{{game.visitor_score}}</h2></span>
    </div>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
      <tr>
        <td><b>#</b></td>
        <td><b>Player</b></td>
        <td><b>TD</b></td>
      </tr>
      </thead>
      <tbody>

      {% for row in statistics %}
      {% if row.4 %}
      <tr>
        <td>{{row.3}}</td>
        <td>{{row.4.get_full_name}}</td>
        <td>{{row.5}}</td>
      </tr>
      {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif%}

{% endblock %}
