{% extends "tournaments/index.html" %}

{% block content %}

{% if statistics %}
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th class="text-center" colspan="3"><p>{{game.local}}</p><p>{{game.local_score}}</p></th>
      <th class="text-center" colspan="3"><p>{{game.visitor}}</p><p>{{game.visitor_score}}</p></th>
    </tr>
    <tr>
      <th class="col-sm-1"></th>
      <th class="col-sm-4"></th>
      <th class="col-sm-1"></th>
      <th class="col-sm-1"></th>
      <th class="col-sm-4"></th>
      <th class="col-sm-1"></th>
    </tr>
  </thead>
  <tbody>
    {% for row in statistics %}
    <tr>
      {% for value in row %}
      <td>{{value}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif%}

{% endblock %}
