{% extends "tournaments/index.html" %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>{{ tournament.name }}</h1>
</div>

<div class="page-header">
  <h1>Teams</h1>
</div>

    <table class="table-condensed">
      <thead>
	<tbody>
	  {% for row in teams_matrix %}
	  <tr>
	    {% for team in row %}
	    <td class="col-sm-2"><a href="{% url 'detail_team_tournament' tournament.id team.id %}">{{team.name}}</a></td>
	    {% endfor %}
	  </tr>	  
	  {% endfor %}
	</tbody>
      </thead>
    </table>


{% if sorted_pools %}
<div class="page-header">
  <h1>Pool Stage</h1>
</div>

{% for key, list in sorted_pools.items %}
<div class="jumbotron">
<div class="row">
  <div class="col-md-4">
    <table class="table table-striped table-condensed">
      <thead>
	<tr class="success">
	  <th>{{key}}</th>
	  <th>P</th>
	  <th>W</th>
	  <th>L</th>
	  <th>D</th>
	  <th>+</th>
	  <th>-</th>
	  <th>+/-</th>
	  <th>Pts</th>
	</tr>
	<tbody>
	  {% for value in list %}
	  <tr>
	    <td>{{value.team}}</td>
	    <td>{{value.played}}</td>
	    <td>{{value.won}}</td>
	    <td>{{value.lost}}</td>
	    <td>{{value.drawn}}</td>
	    <td>{{value.plus}}</td>
	    <td>{{value.minus}}</td>
	    <td>{{value.plus_minus}}</td>
	    <td>{{value.points}}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </thead>
    </table>
  </div>

  <div class="col-md-6">
    <table class="table table-striped table-condensed table-bordered">
      <thead>
	<tr class="success">
	  <th colspan="6">{{key}} - Games</th>
	</tr>
	<tbody>
	  {% if games %}
	    {% for game in games %}
              {% if game.phase.round == key %}
	        <tr>
		  <td class="col-sm-5">{{game.local}}</td>
		  <td class="success text-center">{{game.local_score}}</td>
		  <td class="text-center">v</td>
		  <td class="success text-center">{{game.visitor_score}}</td>
		  <td class="col-sm-5 text-right">{{game.visitor}}</td>

		  <td class="text-center"><a href="{% url 'detail_game' game.id %}">link</a></td>
		</tr>
              {% endif %}
	    {% endfor %}
	  {% else %}
	  <td>No games are available.</td>
	  {% endif %}
	</tbody>
      </thead>
    </table>
  </div>
</div>
</div>
{% endfor %}
{% endif %}


{% if finals.items %}
<div class="page-header">
  <h1>Finals</h1>
</div>

{% for key1, values1  in finals.items %}
<div class="container-fluid">  
  <table class="table table-condensed table-bordered">
    <thead>
      <tr>
	{% if key1.category == "Gold" %}
	<th colspan="5" class="gold">{{key1}}</th>
	{% elif key1.category == "Silver" %}
	<th colspan="5" class="silver">{{key1}}</th>
	{% elif key1.category == "Bronze" %}
	<th colspan="5" class="bronze">{{key1}}</th>
	{% elif key1.category == "Wood" %}
	<th colspan="5" class="wood">{{key1}}</th>
	{% else %}
	<th colspan="5" class="success">{{key1}}</th>
	{% endif %}
      </tr>      
      <tbody>
	{% for key2, values2 in values1.items %}
	  <tr>
	    <td class="col-sm-5">{{values2.local}}</td>
	    {% if key1.category == "Gold" %}
	    <td class="gold text-center">{{values2.local_score}}</td>
	    {% elif key1.category == "Silver" %}
	    <td class="silver text-center">{{values2.local_score}}</td>
	    {% elif key1.category == "Bronze" %}
	    <td class="bronze text-center">{{values2.local_score}}</td>
	    {% elif key1.category == "Wood" %}
	    <td class="wood text-center">{{values2.local_score}}</td>	    
	    {% endif %}
	    <td class="text-center">v</td>
	    {% if key1.category == "Gold" %}
	    <td class="gold text-center">{{values2.visitor_score}}</td>
	    {% elif key1.category == "Silver" %}
	    <td class="silver text-center">{{values2.visitor_score}}</td>
	    {% elif key1.category == "Bronze" %}
	    <td class="bronze text-center">{{values2.visitor_score}}</td>
	    {% elif key1.category == "Wood" %}
	    <td class="wood text-center">{{values2.visitor_score}}</td>	    
	    {% endif %}
	    <td class="col-sm-5 text-right">{{values2.visitor}}</td>
	  </tr>
	{% endfor %}
      </tbody>
    </thead>
  </table>
</div>
{% endfor %}

{% endif %}

{% endblock %}


