{% extends "base.html" %}

{% block title %}{{tournament.name}}{% endblock %}

{% block content %}   
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1 class="text-center">The touch DB</h1>
<!--  <p>Here you check fixtures and results of our tournaments.</p>
  <p>Search for a team or a player.</p>
  <p>Check player and teams stadistics</p> 
-->
<!--  <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>-->
</div>

 <div class="row">

     <div class="col-md-6">
         <div class="jumbotron">
             <h2>Select a tournament</h2>
             <p>Find a tournament and check all fixtures, results and tables.</p>
             <div class="dropdown">
                 <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                     Tournaments
                     <span class="caret"></span>
                 </button>
                 <ul class="dropdown-menu multilevel" role="menu">
                         {% include "tournaments/list_tournaments.html" %}
                 </ul>
             </div>
         </div>
     </div>

     <div class="col-md-6">
         <div class="jumbotron">
             <h2>Search</h2>
             <p>Find a player, team or tournament and check all available data.</p>

             <form class="form-inline" role="form" action="{% url 'search' %}" method="get">
                 {% csrf_token %}
                 <div class="form-group">
                     <input class="form-control" type="text"  name="text" placeholder="Search">
                 </div>
                 <input class="btn btn-default" type="submit" name="submit" id="submit" value="Submit" class="btn btn-default">
             </form><!-- end form -->
         </div>
     </div>

 </div>
 {% endblock %}

{% block sidebar_tournaments %}
{% if tournament_list %}
<p>
    {% for t in tournament_list %}
    <!-- <li><a href="/tournaments/{{ t.id }}/">{{ t.name }}</a></li> -->
    <!-- <li><a href="{% url 'detail_tournament' t.id %}"> {{ t.name }}</a></li><br/> -->
    {% endfor %}

    {% include "tournaments/list_tournaments.html" %}
</p>
{% else %}
<p>No tournaments are available.</p>
{% endif %}
<br/>
{% endblock %}
