{% extends "base.html" %}

{% block title %}{{tournament.name}}{% endblock %}


{% block content %}   
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
</div>
{% endblock %}

{% block sidebar_tournaments %}
{% if tournament_list %}
    <p>
    {% for t in tournament_list %}
        <!-- <li><a href="/tournaments/{{ t.id }}/">{{ t.name }}</a></li> -->
        <li><a href="{% url 'detail_tournament' t.id %}"> {{ t.name }}</a></li><br />
    {% endfor %}
    </p>
{% else %}
    <p>No tournaments are available.</p>
{% endif %}
    <br />
{% endblock %}
