{% if nationals %}
<li class="dropdown-submenu">
    <a tabindex="-1" href="#">International</a>
    <ul class="dropdown-menu">
        {% for t in nationals %}
        <li><a tabindex="-1" href="{% url 'detail_tournament' t.id %}">{{ t.name }} - {{t.division}}</a></li>
        {% endfor %}
    </ul>
</li><br/>
{% endif%}

{% if australia %}
<li class="dropdown-submenu">
    <a tabindex="-1" href="#">Australia</a>
    <ul class="dropdown-menu">
        {% for t in australia %}
        <li><a tabindex="-1" href="{% url 'detail_tournament' t.id %}">{{ t.name }}</a></li>
        {% endfor %}
    </ul>
</li>
{% endif %}


{% if england %}
<li class="dropdown-submenu">
    <a tabindex="-1" href="#">England</a>
    <ul class="dropdown-menu">
        {% for t in england %}
        <li><a tabindex="-1" href="{% url 'detail_tournament' t.id %}">{{ t.name }}</a></li>
        {% endfor %}
    </ul>
</li><br/>
{% endif %}

{% if germany %}
<li class="dropdown-submenu">
    <a tabindex="-1" href="#">Germany</a>
    <ul class="dropdown-menu">
        {% for t in germany %}
        <li><a tabindex="-1" href="{% url 'detail_tournament' t.id %}">{{ t.name }}</a></li>
        {% endfor %}
    </ul>
</li>
{% endif %}

</p>

<br/>